<h1>Post a product</h1>
<a class="back" href="/catalog">Back to catalog</a>
<hr>
<form action="/catalog/create" method="post">
 
    <label></label><span>Name:</span><input type="text" name="name" /></label>
    <label></label><span>Price:</span><input type="number" name="price" /></label>
    <label></label><span>Promote:</span><input type="checkbox" name="promote" /></label>

    <input type="submit" value="Post" />
  
</form>
<hr>