body {
  width: 900px;
  margin: 50px auto;
  background-color: lightgoldenrodyellow;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

input {
  margin-bottom: 12px;
}
