<section id='catalog'>
    <h1>My posts</h1>
    <div class='band'>
        {{#each posts}}

        {{> postPreview}}
        
        {{else}}
            <div class='no-posts'>
                <div class='no-posts-img'>
                    <img src='https://www.freeiconspng.com/thumbs/no-image-icon/no-image-icon-6.png' alt='' />
                </div>
                <p class='no-offer'>There is no posts yet...</p>
            </div>
        {{/each}}
    </div>
</section>