<h1>Register Form</h1>
<div class='form'>
    <form action='/register' method='POST'>
        <label for='first-name'>First name</label>
        <input type='text' id='username' name='firstName' value='' />
        <label for='last-name'>Last name</label>
        <input type='text' id='username' name='lastName' value='' />
        <label for='email'>Email</label>
        <input type='text' id='username' name='email' value='' />

        <label for='password'>Password</label>
        <input type='password' id='password' name='password' />

        <label for='repeatPassword'>Re-Password</label>
        <input type='password' id='repeatPassword' name='repass' />
        <input type='submit' value='Register' />
    </form>
</div>