<h1>Hello Hand</h1>
{{#with user}}
  <div>
    <p>Welcome to our site, {{username}} !</p>
    <p>Your email is {{email}}</p>
  </div>
{{/with}}
{{#if count}}
  <p>Visitors: {{count}}</p>
{{else}}
  <p>You are first visitor</p>
{{/if}}